body{
    background-color: #e5f1e3;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

hr {
    border-style: dotted none none;
    border-color: rgb(167, 167, 167);
    border-width: 4px;
    width: 50%;
}

h1 {
    color: #35635b;
}

#photo {
    border-radius: 50%;
    
}

#intro_table {
    border-spacing: 50px;
}

#skilltable {
    border-spacing: 2px;
    table-layout: fixed;
    width: 50%; /* Set the table width to 50% of its container */
}